.hidden{
    display: none !important;
}

.right{
    float: right;
    margin-top: -30px;
}

@font-face {
    font-family: robotoMedium;
    src : url(font/robotoMedium.ttf);
}

@font-face {
    font-family: robooItalic;
    src : url(font/robotoItalic.ttf);
}

@font-face {
    font-family: robotoBold;
    src : url(font/robotoBold.ttf);
}

@font-face {
    font-family: robotoRegular;
    src : url(font/robotoRegular.ttf);
}

@font-face {
    font-family: robotoBlack;
    src : url(font/robotoBlack.ttf);
}

@font-face {
    font-family: robotoLight;
    src : url(font/robotoLight.ttf);
}

body{
    margin: 0;
}

.scrollBlock{
    position: absolute;
    width: 1170px;
    text-align: center;
    padding-top: 20px;
}

.scroll{
    font-family: robotoRegular;
    font-size: 14px;
    color: #fafafa;
    line-height: 24px;
}

.scroll + img{
    vertical-align: middle;
}

.centered{
    margin: 0 auto;
    width: 1170px;
}

.intro{
    background: url(img/fon.png) no-repeat;
    width: 100%;
    max-width: 1920px;
    height: 952px;
    z-index: 1;
}

.intro.black{
    background: black;
    position: absolute;
    opacity: 0;
    width: 100%;
    max-width: 1920px;
    height: 952px;
    display: none;
    z-index: 2;
}

.header{
    height: 43px;
    padding-top: 55px;
    text-align: right;
}

.language{
    font-family: robotoMedium;
    font-size: 10px;
    line-height: 41px;
    color: #bdbdbd;
    text-decoration: underline;
    padding-right: 21.5%;
    cursor: pointer;
}

.language.main{
    padding-right: 14.1%;
    line-height: 45px;
}

.logoHref{
    float: left;
}

.logo{
    width: 180px;
    height: 43px;
}

.headerLinks{
    float: right;
    color: #fafafa;
    height: 43px;
    font-size: 10px;
    padding-top: 15px;
    font-family: robotoMedium;
}

.headerLinks a {
    margin-left: 22px;
    cursor: pointer;
    transition: 0.6s;
    text-decoration: inherit;
    color: #fafafa;
}

.headerLinks a:visited{
    color: #fafafa;
}

.headerLinks a:hover {
    color: #e74c49;
}

.headerLinks a:first-child {
    margin-left: 0px;
}

.introText{
    padding-top: 232px;
    text-align: center;
}

.roboBold{
    font-family: robotoBold;
    font-size: 44px;
    color: #fafafa;
}

.roboBoldBig{
    font-family: robotoBold;
    font-size: 58px;
    color : #fafafa;
}

.introText hr{
    width: 176px;
    color : #fafafa;
}

.introTextLast{
    text-align: center;
    padding-top: 96px;
    font-family: robotoRegular;
    font-size: 14px;
    color : #fafafa;
    line-height: 24px;
}

/* */

.block1{
    width: 100%;
    max-width: 1920px;
    height: 1050px;
    background : #fefefe;
    z-index: 3;
}

.mainHeader{
    width: 100%;
    max-width: 1920px;
    height: 100px;
    background: #fafafa;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 2;
}

.headerContent{
    margin: 0 auto;
    width: 1170px;
    padding-top: 30px;
    text-align: right;
}

.headerLinks.dark a{
    color : rgb(21,21,21);
    font-size: 14px;
}

.headerLinks.dark a:visited{
    color : rgb(21,21,21);
}

.headerLinks.dark a:hover{
    color : #e74c49;
}

.block1_Content{
    padding-top: 125px;
    text-align: center;
}

.headText{
    color : rgb(21,21,21);
    font-size: 45px;
    font-family: robotoBlack;
}

.headText.light{
    font-size: 24px;
    line-height: 24px;
    color: #fefefe;
}

.overlayContainer{
    padding-top: 35px;
    cursor : pointer;
}

.overlayContainer hr{
    width: 55px !important;
}

.underOverlayText{
    padding-top: 20px;
}

.underOverlay{
    font-family: robotoLight;
    font-size: 14px;
    color: #fefefe;
    line-height: 36px;
}

.block1_Content hr{
    width : 85px;
    border : 1px solid #e74c49;
}

.block1_Text{
    padding-top: 100px;
}

.text{
    color : rgb(21,21,21);
    font-family: robotoRegular;
    font-size: 14px;
    line-height: 24px;
}

.text.light{
    color: #9e9e9e;
}

.leftBlock{
    float: left;
    text-align: left;
}
.rightBlock{
    float: right;
    text-align: left;
    padding-bottom: 120px;
}

/* */

.block2{
    width: 100%;
    max-width: 1920px;
    height: 1237px;
}

.blockWork{
    width: 100%;
    max-width: 1920px;
    height: 1337px !important;
}

.ourWorks{
    height: 287px;
    background: #fafafa;
}

.ourWorks.light{
    height: 387px;
    background: white;
}

.headText{
    color : rgb(21,21,21);
    font-size: 45px;
    font-family: robotoBlack;
}

.ourWorks hr{
    width : 85px;
    border : 1px solid #e74c49;
}

.centered._works{
    text-align: center;
    padding-top: 115px;
}

.centered._works.light{
    text-align: center;
    padding-top: 215px;
}

.worksImg{
    background: url(img/fon2.png) no-repeat;
    width: 100%;
    max-width: 1920px;
    height: 950px;
}

.workExample{
    float: left;
    padding-top: 189px;
    height: 590px;
    margin-left: -20px;
    margin-right: -20px;
}

.logoImg{
    padding-top: 269px;
    height: 115px;
    margin-left: -40px;
    width: 190px;
}

.workBlock{
    padding-top: 70px;
    text-align: center;
}

.workInfo{
    text-align: center;
}

.workTextTitle{
    font-family: robotoBlack;
    color : #fafafa;
    font-size: 48px;
    float: left;
}

.workTextCaps{
    font-family: robotoMedium;
    color : #fafafa;
    font-size: 14px;
    float : left;
    margin-bottom: 40px;
}

.smallText{
    text-align: left;
}

.done{
    padding-top: 25px;
    text-align: left;
}

.workText{
    font-family: robotoRegular;
    font-size: 14px;
    color:#fafafa;
    line-height: 18px;
}

.workText.title{
    color : #90caf9;
}

/* */
.block3{
    width: 100%;
    max-width: 1920px;
    height: 1025px;
    background: #fefefe;
}

.centered.key hr{
    width : 85px;
    border : 1px solid #e74c49;
}

.centered.key{
    text-align: center;
    padding-top: 120px;
}

.allPhoto{
    padding-top: 100px;
    text-align: center;
    height : 472px
}

.block3_Img{
    display: inline-block;
    max-height: 210px;
}

.block3_Img:first-of-type{
    margin-left: 0;
    margin-top : 49px;
    float: left;
}

.block3_Img:last-child{
    margin-top : 33px;
    float: right;
}

.block3_Img img{
    width: 270px;
}

.underImg.middle{
    padding-top: 30px;
}

.underImg{
  padding-top: 34px;
}

.underTitle{
    font-family: robotoBlack;
    font-size: 24px;
}

.underTitleText{
    padding-top: 28px;
    text-align: center;
}

.description{
    font-family: robotoLight;
    font-size: 14px;
    color: rgb(21,21,21);
    line-height: 18px;
}

.servises{
    font-family: robotoRegular;
    font-size: 14px;
    color : #e53935;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}

.servisesBlock{
  padding-top: 85px;
}

.servisesBlock hr{
    width: 150px !important;
    border: 1px solid #e0e0e0 !important;
}

.servises:hover{
    color : rgb(21,21,21);
}

/* */

.block4{
    width: 100%;
    max-width: 1920px;
    height: 1170px;
    background: #f7f7f7;
}

.centered.last{
    text-align: center;
    padding-top: 120px;
}

.centered.last hr{
    width: 85px;
    border : 1px solid #e74c49;
}

.smallImgBlock{
    padding-top: 30px;
}

.blockPhoto{
    padding-top: 100px;
    height: 727px;
}

.bigPhoto{
    width: 1170px;
    height: 397px;
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    filter: brightness(0.6);
    transition: 0.5s;
}

.darkFilter{
    -webkit-filter: brightness(0.2) !important;
    -moz-filter: brightness(0.2) !important;
    filter: brightness(0.2) !important;
}

.overlay{
    position: absolute;
    height: 397px;
    width: 1170px;
    z-index: 1;
    cursor: pointer;
}

.smallImgLeft{
    float: left;
    height: 300px;
    width: 570px;
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    filter: brightness(0.6);
    transition: 0.5s;
}

.overlayLeft{
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 570px;
    cursor: pointer;
}

.smallImgRight{
    float: right;
    height: 300px;
    width: 570px;
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    filter: brightness(0.6);
    transition: 0.5s;
}

.overlayRight{
    z-index: 1;
    position: absolute;
    float: right;
    height: 300px;
    width: 570px;
    cursor: pointer;
}

.bigOverlayContent{
    padding-top:120px ;
    text-align: left;
    transition: 0.5s;
    cursor: pointer;
}

.smallOverlayContent{
    padding-top:75px ;
    text-align: left;
    transition: 0.5s;
    cursor: pointer;
}

.bigCont{
    font-family: robotoBold;
    font-size: 36px;
    color : #fafafa;
    padding-left: 40px;
    line-height: 38px;
}

.smallCont{
    font-family: robotoBold;
    font-size: 24px;
    color : #fafafa;
    padding-left: 40px;
    line-height: 26px;
}

.bigCont:first-child{
    padding-top: 10px;
}

.longBtn{
    width: 100%;
    max-width: 1920px;
    background: #e53935;
    height: 126px;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}

.smallItalic{
    font-family: robooItalic;
    color : #fafafa;
    font-size: 14px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.smallItalic.more{
    font-size: 10px;
    color: #e74c49;
    cursor : pointer;
    transition: 0.5s;
    padding-bottom: 0px;
    opacity: 0;
    line-height: 80px;
    transition: 0.7s;
}

.longBtn:hover{
    background: #212121;
}

.letsWork{
    font-family: robotoRegular;
    font-size: 14px;
    color:#fafafa;
    cursor: pointer;
    transition: 0.6s;
    text-decoration: none;
}

.longBtnText{
    padding-top: 53px;
    text-align: center;
}

/* */

footer{
    height: 300px;
    width: 100%;
    max-width: 1920px;
    background: #212121;
}

footer .logo{
    padding-top: 135px;
}

.footerContent{
    padding-top: 93px;
    float: right;
    text-align: left;
}

.footerContent{
    float: right;
    text-align: left;
}

.country{
    font-family: robotoBold;
    font-size: 14px;
    color : #fafafa
}

.addressText{
    font-family: robotoLight;
    font-size: 13px;
    color: #757575;
    line-height: 21px;
    line-height: 21px;
}

.address{
    padding-top: 24px;
}

.smallIcon{
    margin-left: -20px;
}


/* S E R V I C E*/
.blockService{
    width: 100%;
    max-width: 1920px;
    height: 1000px;
    background: #fefefe;
}

.serviceContent{
    padding-top: 225px;
}

.centered.serviceContent{
    text-align: center;
}

.centered.serviceContent hr{
    width : 85px;
    border : 1px solid #e74c49;
}

.servicePhotoBlock{
    padding-top: 100px;
}

.servicePhoto{
    text-align: center;
    width: 380px;
    height: 495px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    position: relative;
}

.darkOverlay{
    background-color: black;
    position: absolute;
    height: 0px;
    width: 381px;
    z-index: 1;
}

.servicePhoto.first{
    float: left;
}

.servicePhoto:last-child{
    float: right;
}

.underImgService{
    padding-top: 60px;
}

.underTitleTextService{
    padding-top: 25px;
}

.underTitleService{
    font-family: robotoBlack;
    font-size: 24px;
    line-height: 24px;
    color: rgb(21,21,21);
}

.descriptionService{
    font-family: robotoLight;
    font-size: 14px;
    line-height: 18px;
    color: rgb(21,21,21);
}

.serviceImg {
    margin-top: 40px;
    width: 210px;
}

.eye{
   bottom: 15px;
   margin-left: -20px;
   position: absolute;
}

/* C O N T A C T S*/
.blockContacts{
    width: 100%;
    max-width: 1920px;
    height: 935px;
    background: #fefefe;
}

.redBlock{
    height: 545px;
    background: #e53935;
}

.publicLinks{
    background: #fefefe;
    height: 250px;
}

.links{
    width: 355px;
}

.links.centered{
    padding-top: 101px;
}

.publicLinkImg{
    padding-left: 50px;
    cursor: pointer;
}

.publicLinkImg:first-child{
    float: left;
    padding-left: 0px;
}

.publicLinkImg:last-child{
    float: right;
    padding-left: 0px;
}

/* W O R K */
.workTabs{
    width: 100%;
    max-width: 1920px;
    height: 850px;
}

.centered.worksTab{
    padding-top: 120px;
    text-align: center;
}

.centered.worksTab hr{
    width : 85px;
    border : 1px solid #e74c49;
}

.tabs{
    padding-top: 100px;
}

.tab{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: robotoMedium;
    font-size: 12px;
    background: #eeeeee;
    color : #b3b3b3;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.tabImg{
    padding-top: 25px;
}

.tabActive{
    background: #e53935 !important;
    color : #fefefe !important;
}

.oneLineImg{
    display: inline-block;
    width: 294px;
    max-width: 294px;
    height: 200px;
    margin: -3px;
    transition: 0.4s;
}

.darkImg{
    -webkit-filter: brightness(0.6) !important;
    -moz-filter: brightness(0.6) !important;
    filter: brightness(0.6) !important;
}

.overlayImgTab{
    position: absolute;
    z-index: 1;
    height: 0px;
    width: 292px;
    display: none;
    cursor: pointer;
    text-align: left;
    padding-top: 20px;
    padding-left: 25px;
    line-height: 18px;
}

.overlayUpperText{
    font-family: robotoMedium;
    font-size: 14px;
    color: #fefefe;
}